NODE_ENV=  
USE_CORE=
API_PORT=
API_HOST= 
APP_CLIENT=

#default logos
APP_LOGO= 
AVATAR_LOGO= 

#secrets
JWT_SECRET=
REFRESH_JWT_SECRET= 
FORGOT_PASSWORD_SECRET=
PASSWORD_SALT=
FILE_SIZE=
 


#in minute 
ACCESS_TOKEN_EXPIRE_IN= 
REFRESH_TOKEN_EXPIRE_IN=
FORGOT_PASSWORD_EXPIRE_IN=  
VERIFICATION_EXPIRE_IN= 

 


 
#dbs
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=



 